html{
    min-height: 100%;
}
  body {
    margin: 0;
    /* max-width: 1200px; */
    min-height: 1000px;
    padding-left: var(--space-sm);
    /* --space-body: none; */
    box-sizing: content-box;
  }

  .navigation {
    margin: auto;
    max-width: 1040px;
  }
  
  .content header{
    background: none;
  }

  .page-content{
    max-width: 1200px;
    margin: auto;
  }

  .current a {
    color: #ba90c2;
}

  .no-viz a{
    text-decoration: underline;
  }

  :root{
    --space-lg: none;
  }

.content header h1{

  font-weight: normal;
  
}

.no-viz {
  margin: auto;
  max-width: 800px;
}

h1{
  margin: 50px;
  text-align: center;
  font-family: 'Tiempos Headline Web',Georgia,Times,serif
}


#container{
  position: relative;
}
#sections p{
  font-size: 18px;
}
#sections{
  width: 340px;
}

#sections > div{
  background: white;
  opacity: .2;
  margin-bottom: 200px;
}
#sections > div:last-child{
  margin-bottom: 30px;
}
#sections > div.graph-scroll-active{
  opacity: 1;
}

#graph{
  margin-left: 40px;
  width: 800px;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  float: right;
}

@media (max-width: 925px)  {
  #graph{
    width: 100%;
    margin-left: 0px;
    float: none;
  }

  #sections{
    width: auto;
    position: relative;
    margin: 0px auto;
  }

  #sections > div{
    background: rgba(255,255,255,.5);
    padding: 10px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    margin-bottom: 80vh;
  }

  pre{
    overflow: hidden;
  }

  h1{
    margin: 10px;
  }
}


circle{
  fill: steelblue;
}

.mono{
  font-family: monospace;
}

svg{
  background-color: #eee;
}
.svg_legend{
  background-color: white; 
  /* stroke : none */

}


.bubble {
  stroke-width: 2px;
  stroke: white;
}
.bubble:hover {
  stroke: black;
}

.tooltip {
  position: absolute;
  padding: 5px;
  font: 12px sans-serif;	
}

.occupation-dropdown{
  font: 15px sans-serif;
  width: 300px
}

.footer ul{
  max-width: 800px;
  margin:auto;
}